
.card-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* border: 2px solid #ddd; */
  padding: 10px;
  background-color: transparent;
}

.arrow {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1; 
}

.left-arrow {
  left: 10px; 
}

.right-arrow {
  right: 10px; 
}

.cards {
  display: flex;
  gap: 10px;
  transition: transform 0.5s linear;
}

.card {
  min-width: 166px;
  height: 275px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #1e2130;
  color: #fff;
  border-radius: 8px;
}

.card-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card-img{
  padding-top: 5px;
}

.card-img img{
  border-radius: 50%;
  width: 135px;
  height: 135px;
  object-fit: cover;
}

.card-content {
  margin: 15px 0;
}

.card-name {
  font-size: 1.3em;
  margin: 10px 0;
  text-align: center;
}

.card-branch,
.card-position {
  color: #ffffff;
  margin: 5px 0;
  font-size: 12px;
  text-align: center;
}



@media (max-width: 600px) {
  .card {
    width: 60px;
    height: 175px;
  }

  .card-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .card-img{
    margin-left: 35px;
  }

  .card-name {
    font-size: 0.8em;
    margin: 10px 0;
    text-align: center;
  }

  .card-branch,
.card-position {
  color: #ffffff;
  margin: 5px 0;
  font-size: 9px;
  text-align: center;
}
}